<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="address" class="com.mindgate.pojo.Address" />
	
	<bean id="employee" class="com.mindgate.pojo.Employee" autowire ="byType">
	
<!-- 		<property name="homeAddress" ref="address"></property> --> 

	</bean>
</beans>